.header {
	font-size: 20px;
	line-height:1,7;
	margin-bottom: 60px;
}
.header span {
	display: block;
	margin-bottom: 4px;
}
.section {
	padding: 30px 0px;
}

}
.header strong {
	font-weight: 1000;
}
.form {
	border: 5px solid blue;
	padding: 35px 20px; 
}
.form input {
	margin-bottom: 14px;
}
.form-header .section-header {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 14px;
}
.form-btn {
 margin: 10px auto;	
 background-color: blue;
}
img {
	height: 100px;
	width: 100px;
}
h2 {
	margin-bottom: 50px;
	font-weight: 1000;

}
p {
	margin-top: 20px;
}
