/*fonts*/
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*color*/
/*Basic setting*/
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
iframe {
  width: 100%;
  height: 300px;
  border: none;
}
a:hover {
  text-decoration: none;
}
button,
input,
a,
textarea {
  outline: none;
}
.button {
  font-size: 1.6rem;
  padding: 1rem 3rem;
  border-radius: 8px;
  background-color: #ffcc00;
  color: #ffffff;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  /*установка времени на аним всех(all) элемов кнопки*/
  /*динамика глав кнокпи*/
}
.button:hover {
  cursor: pointer;
  /*курсор-палец*/
  background-color: #f0c000;
  /*темнее*/
  /*или lighten*/
}
/*формы*/
.form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
  /*заголовок формы*/
  /*поля для ввода*/
  /*подписи у полям*/
  /*кнопка*/
  /*подпись под кнопкой*/
}
.form-header {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.form-header strong {
  font-size: 1.9rem;
}
.form-input {
  display: block;
  margin: 2rem 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  padding: 1.7rem;
}
.form label {
  padding: 0.5rem;
  display: inline-block;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.form small {
  display: block;
  margin-top: 1.5rem;
}
/*Typography*/
section {
  padding: 10rem	0;
}
section .section-header {
  margin: 1rem 0 10rem;
  text-align: center;
}
section .section-header_light {
  color: #ffffff;
}
section .section-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.5rem;
}
section .section-header p {
  font-size: 1.4rem;
}
/*main*/
.main {
  background: #ffffff url(../img/proba3.jpg) center center no-repeat;
  padding: 3rem 0 5rem;
  background-size: cover;
  /*подзаголовок*/
  /*ярлык*/
  /*оплата по факту*/
}
.main-content {
  margin-top: 12rem;
  /*заголовок*/
}
.main-content h1 {
  font-family: 'ProximaNova_bold', sans-serif;
  margin-top: -1.2rem;
  font-size: 4rem;
  line-height: 1.45;
  text-transform: uppercase;
}
.main-subtitle {
  font-size: 2.4rem;
  margin: 3rem 0 2rem 0;
}
.main span {
  font-size: 2rem;
  display: inline-block;
  padding: 3rem 5rem;
  color: #ffffff;
  background-color: #46b813;
  border-radius: 4px;
}
.main span strong {
  /*300*/
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
  display: block;
  margin-top: 3rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #333333;
}
/*Секция с преимуществами*/
.features {
  background: #ffffff url(../img/materials-bg.jpg) 0 0 no-repeat;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  font-size: 1.6rem;
  width: 75%;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/left.svg) center no-repeat;
  opacity: 0.65;
  background-size: 90%;
}
.next {
  right: 0;
  background: url(../img/right.svg) center no-repeat;
  opacity: 0.65;
  background-size: 90%;
}
/*Секция с ценами*/
.price {
  background: #46b813 url(../img/ss2.jpg) center;
  background-size: cover;
  /*3 карточки с тарифами*/
}
.price-header-btn {
  margin-top: 2rem;
}
.price-button {
  text-align: right;
}
.price-block {
  margin-top: 9rem;
  min-height: 58rem;
  padding: 1rem 3rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
  color: black;
}
.price-block h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-block img {
  width: 100%;
  max-width: 30rem;
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  display: block;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 2rem;
}
.price-list {
  list-style: none;
  padding: 0;
  min-height: 14rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.price-list li:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/galochka.svg) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
/*Секция с отзывами*/
.feedback {
  background: #ffffff url(../img/materials-bg.jpg) 0 0 no-repeat;
  background-size: cover;
  position: relative;
  /*форма обратной связи*/
}
.feedback h4 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.4rem;
}
.feedback-prev-btn {
  left: -5rem;
}
.feedback-next-btn {
  right: -5rem;
}
.feedback-text {
  margin-top: 3rem;
  font-style: italic;
  padding: 1rem;
  border: 2px solid #46b813;
  position: relative;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid #46b813;
  left: 4rem;
  background-color: #ffffff;
  border-bottom: none;
  border-top-right-radius: 100px;
  /* O_O*/
}
.feedback-slider {
  padding: 5rem 6rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider .media {
  margin-top: 4rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
  background-color: #46b813;
  border: none;
}
.feedback-slider-btn img {
  width: 45%;
}
.feedback-form {
  margin-top: 5rem;
  padding: 4rem 8rem;
  background-color: #ffffff;
  text-align: center;
}
.feedback-form h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.feedback-form label {
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
.hand {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 40rem;
}
/*Схема работы*/
.scheme-block {
  min-height: 30rem;
}
.scheme h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
/*все на 100% включено*/
.all-inclusive {
  background: #ffffff url(../img/materials-bg.jpg) 0 0 no-repeat;
  background-size: cover;
}
.all-inclusive .media {
  min-height: 10rem;
}
.all-inclusive .media h4 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.6rem;
  margin-bottom: -0.2rem;
}
.all-inclusive .media p {
  font-size: 1.3rem;
  margin: 0 0 10px;
}
.circle {
  background-color: #46b813;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  padding: 0.3rem;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 2px solid #46b813;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
/*Сомнения*/
.problems {
  position: relative;
}
.problems-girl {
  /*позиции расставляются, чтобы обозначить их место друг на друге*/
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-64%);
          transform: translateX(-64%);
}
.problems-list {
  border: 4px solid;
  padding: 2rem;
  min-height: 35rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.problems-list ul {
  padding-left: 0;
  padding-top: 1.7rem;
  list-style: none;
  /*отменить точки в списке*/
  /*есть тема list-style-image: url(../img/good.svg); в ul li вместо before, она кружки заменяет, но нужен норм размер картинки*/
}
.problems-list ul li {
  padding-left: 3.5rem;
  /*r*/
  position: relative;
  /*r*/
  margin-bottom: 3rem;
  font-size: 1.5rem;
}
.problems-list ul li::before {
  /*r как нормально разместить иконку*/
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad ul li {
  margin-bottom: 3.8rem;
}
.problems-list_bad h4 {
  opacity: 0.5;
  /*непрозрачность*/
}
.problems-list_bad ul li::before {
  background: url(../img/bad.svg) center no-repeat;
  background-size: 70%;
}
.problems-list_good {
  border-color: #46b813;
}
.problems-list_good ul li::before {
  background: url(../img/good.svg) center no-repeat;
  background-size: 70%;
}
/*Материалы*/
.materials {
  background: #ffffff url(../img/materials-bg.jpg) 0 0 no-repeat;
}
.materials-link {
  color: #46b813;
  border-bottom: 1px dotted #46b813;
}
.materials-link:hover {
  color: #348a0e;
}
.materials img {
  display: block;
  margin: 0 auto;
}
.materials-offer {
  margin-top: 4.5rem;
  text-align: center;
}
/* Посмотрите как мы работаем */
.tour {
  background: url(../img/tour-bg.jpg) center no-repeat;
  background-size: cover;
}
.tour h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.4rem;
}
.tour-subtitle {
  font-size: 2.2rem;
}
.tour .form-header {
  font-size: 1.8rem;
}
/*Дополнительные услуги*/
.dopsell {
  background: url(../img/ss2.jpg) center no-repeat;
  background-size: cover;
}
.dopsell-block {
  text-align: center;
}
.dopsell-block p {
  margin: 2rem 0;
  font-size: 2rem;
  color: #ffffff;
}
.dopsell-block img {
  border-radius: 4px;
}
/*Подвалыч*/
footer {
  padding: 5rem 0rem;
}
.footer-contacts {
  text-align: center;
}
.footer-contacts p {
  padding-top: 0.2rem;
  margin: 0.2rem;
}
.footer-dev {
  text-align: right;
}
/*Контакты*/
.contacts {
  background: #ffffff url(../img/contact-bg.jpg) -50rem center no-repeat;
  background-size: cover;
}
.contacts h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.5rem;
}
.contacts h3 {
  font-size: 1.9rem;
}
.contacts p {
  margin: 2rem 0;
}
.contacts-link {
  display: inline-block;
  color: #333333;
  border-bottom: 1px dotted #333333;
}
.contacts-link:hover {
  color: #000000;
}
/*Оформление всплывающих(модальных) окон*/
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 6rem;
  background-color: #ffffff;
}
.popup-form {
  margin-top: 4rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  /*прозрачный :o*/
  font-size: 3rem;
  color: #ffffff;
}
.popup-content {
  text-align: center;
}
.popup-header {
  font-family: 'ProximaNova_bold', sans-serif;
}
@media (max-width: 1199px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .fotorama {
    margin-bottom: 3rem;
  }
  .all-inclusive .media {
    min-height: 11rem;
  }
  .all-inclusive .media h4 {
    margin-bottom: 0rem;
    line-height: 1.5rem;
  }
  .all-inclusive .media p {
    line-height: 1.4rem;
  }
  .problems-list {
    min-height: 38rem;
  }
  .contacts {
    background: #ffffff url(../img/contact-bg.jpg) -53rem center no-repeat;
  }
}
@media (max-width: 991px) {
  .phone {
    text-align: center;
  }
  .main-content {
    margin-top: 4rem;
  }
  .main-title {
    text-align: center;
    margin-bottom: 3rem;
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .section-header_light {
    margin-bottom: 0;
  }
  .feedback-form label {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .feedback .hand {
    display: none;
  }
  .problems-list_bad {
    margin-bottom: 4rem;
  }
  .problems-girl {
    display: none;
  }
  .materials-lilink {
    padding: 5rem;
  }
  .materials-offer strong {
    display: block;
  }
  .dopsell button {
    margin-bottom: 4rem;
  }
  .contacts {
    background: #ffffff url(../img/materials-bg.jpg) center no-repeat;
    background-size: cover;
  }
  footer {
    text-align: center;
  }
  footer .footer-contacts {
    margin: 2rem 0;
    margin-left: 3rem;
  }
  footer .footer-dev {
    text-align: center;
    margin-left: 2.2rem;
  }
}
@media (max-width: 760px) {
  .main {
    background-position: top left;
  }
  .main h1 {
    margin-top: 10rem;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
  .scheme {
    text-align: center;
  }
  .scheme-block {
    min-height: 23rem;
  }
}
